.nav {
    position: fixed;
    bottom:0;
    width:100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121,121,121,0.3);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
    color: #2e363e;
}



.fa-tree,
.fa-hand-holding,
.fa-seedling,
.fa-ellipsis-h {
    color: var(--green);
    transition: all 0.3s ease-in-out;
}

.fa-tree:hover,
.fa-hand-holding:hover,
.fa-seedling:hover,
.fa-ellipsis-h:hover{
    color: var(--darkgreen);
}

.nav__current{
    color: var(--darkgreen);
}

@keyframes notificationAnimation {
    0%{
      transform: scale(0.1);
      opacity: 0;
    }
    50%{
transform: translateY(-7px) scale(1) rotateZ(360deg);
opacity: 1;
    }
    100%{
    opacity: 0;  
    }
}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom: 15px;
    animation: notificationAnimation 2s ease-in-out infinite;
}
.nav__dot{
    background-color: var(--red);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left:100%;
    bottom: 25px;
}

@keyframes appearBtnAnimation{
    from{
        transform: scale(0.5);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.nav__btn {
    transform: translateY(50px);
    opacity: 0;
    animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
    animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
    animation-delay: 0.5s;
}
.nav__btn:nth-child(4) {
    animation-delay: 0.8s;
}
