.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title{
    font-size:32px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
}

@keyframes rotateSun {
    from {
        transform: none;
    }

    to {
        transform: scale(1.5) rotateZ(90deg);
        opacity:0
    }
}

.screen-header__icons .fa-sun:hover {
    animation: rotateSun 1.2s linear infinite;
    will-change: transform;
}