
.status-bar {
    position: sticky;
    top:0;
    width:100%;
    display: flex;
    justify-content: center;
    padding:5px 3px;
    background-color: white;
}

.status-bar__column{
    width: 33%;
}
.fa-temperature-low{
    margin-right:3px;
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-tint{
    margin-right: 5px;
}

.status-bar .status-bar__temperature{
display: relative;
}

.status-bar__humidity{
    position: absolute;
    right: 12px;
    font-size: 9px;
    color: white;
}