.plants-display-link{
    text-align: center;
    display: block;
    background-color: var(--lightgreen);
    padding: 10px 0;
    font-size: 17px;
    color: var(--darkgreen);
    margin-bottom: 10px;
    margin-top: -10px;
}

.plants-display-link i{
    color: var(--green)
}

.plants-screen{
    padding: 0px var(--horizontal-space);
}

.plants-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.plants-screen__channel-header{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        color: rgba(0,0,0,0.5)
}

.user-component{
margin: 20px 0;
}

@keyframes hideSplashScreen{
    from{
        opacity: 1;
        }
    to{
            opacity:0;
            visibility: hidden;
        }
}
.splash-screen{
    background-color: var(--green);
    position: absolute;
    width: 100vw;
    height:100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    color: var(--yellow);
    animation-delay: 2s;
}

.splash-screen .splash__main{
    font-size: 132px;
}

@keyframes rotateSplashScreen{
    0%{
        transform: none;
        opacity: 1;
        }
        25%{
            transform: translateY(130px) translateX(-70px) rotateX(90deg);
            
        }
        50%{
            transform: translateY(260px)  translateX(30px) rotateX(180deg);
            
        }
    75%{
            transform: translateY(390px)  translateX(-40px) rotateX(270deg);
            
        }
        100%{
            transform: translateY(520px) translateX(30px)  rotateX(360deg);;
            opacity: 0;
            }
}

.splash-screen .splash__leaf1{
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 122px;
    transform: translateY(-50px);
    opacity: 0;
    will-change: transform;
    animation: rotateSplashScreen 3s cubic-bezier(0.600, 0.040, 0.380, 0.335) forwards;
    animation-delay: 0.1s;
}
.splash-screen .splash__leaf2{
    position: fixed;
    top: 100px;
    left: 100px;
    font-size: 52px;
    transform: translateY(-50px);
    opacity: 0;
    will-change: transform;
    animation: rotateSplashScreen 2.3s ease-in-out forwards;
}
.splash-screen .splash__leaf3{
    position: fixed;
    top: 200px;
    left: 200px;
    font-size: 52px;
    transform: translateY(-50px);
    opacity: 0;
    will-change: transform;
    animation: rotateSplashScreen 2.2s linear forwards;
    animation-delay: 0.2s;
}
.splash-screen .splash__leaf4{
    position: fixed;
    top: 350px;
    right: 150px;
    font-size: 159px;
    transform: translateY(-50px);
    opacity: 0;
    will-change: transform;
    animation: rotateSplashScreen 1.8s ease-in-out forwards;
}
.splash-screen .splash__leaf5{
    position: fixed;
    top: 70px;
    right: 100px;
    font-size: 52px;
    transform: translateY(-50px);
    opacity: 0;
    will-change: transform;
    animation: rotateSplashScreen 3s cubic-bezier(0.380, -0.350, 0.265, 0.550) forwards;
    animation-delay: 0.5s;
}
.splash-screen .splash__leaf6{
    position: fixed;
    top: 150px;
    right: 150px;
    font-size: 77px;
    transform: translateY(-50px);
    opacity: 0;
    will-change: transform;
    animation: rotateSplashScreen 2.3s linear forwards;
}
.splash-screen .splash__leaf7{
    position: fixed;
    top: 150px;
    left: 350px;
    font-size: 72px;
    transform: translateY(-50px);
    opacity: 0;
    will-change: transform;
    animation: rotateSplashScreen 3s ease-in forwards;
}
.splash-screen .splash__leaf8{
    position: fixed;
    top: 70px;
    left: 200px;
    font-size: 152px;
    transform: translateY(-50px);
    opacity: 0;
    will-change: transform;
    animation: rotateSplashScreen 2.5s linear forwards;
    animation-delay: 0.3s;
}